@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Blue: hsl(246, 80%, 60%);
  --Light-red-work: hsl(15, 100%, 70%);
  --Soft-blue-play: hsl(195, 74%, 62%);
  --Light-red-study: hsl(348, 100%, 68%);
  --Lime-green-exercise: hsl(145, 58%, 55%);
  --Violet-social: hsl(264, 64%, 52%);
  --Soft-orange-self-care: hsl(43, 84%, 65%);
  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 35%, 37%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

body {
  background: var(--Very-dark-blue);
  color: var(--Pale-Blue);
  font-size: 18px;
  font-family: Rubik, sans-serif;
  font-weight: 300;
  min-height: 100vh;
  display: grid;
  place-content: center;
  position: relative;
}
h1,
h2,
h3,
h4 {
  color: white;
}

.stats-container:hover:not(:has(.ellipsis:hover)) {
  background-color: var(--Desaturated-blue);
}

.ellipsis svg {
  fill: #bbc0ff;
}
.ellipsis:hover svg {
  fill: white;
}
